<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- bootstrap link end -->

    <!-- css link -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- css link end -->
    <title>Flow Chart</title>
</head>
<body>
    <main class="animated-background d-flex justify-content-center align-items-center flex-column">

        <figure class="text-center mx-3 pt-5">
            <blockquote class="blockquote">
              <p class="display-5 text-uppercase">ıntegratıve regulatory cırcuıt fınder</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <p class="h5">A tool for integrating analysis of mRNA and miRNA expression data to infer regulatory circuits</p> 
            </figcaption>
        </figure>

        <!-- navbar -->

        <nav class="navbar navbar-expand-lg navbar-light inner-card mb-3 w-100">
            <div class="container-fluid">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" href="mainPage.html">Home</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="flow.html">Flow Chart</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="about.html">About</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link active" href="#">Contact</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>


          <div class="container w-50 my-2 contact-div">
            <div class="row icerik">
                <div class="col-md-12 inner-card d-flex flex-column justify-content-center contact">
                    <p class="my-3 text-center p-3"><strong>Phone : </strong>+90 500 000 00 00</p>
                    <p class="my-3 text-center p-3"><strong>Mail : </strong>abc123@abc.com</p>
                </div>
            </div>
          </div>
          
    </main>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="templates/script.js"></script>
</body>
</html>